*{font-family: 'Comfortaa', cursive;}

body {background-color: steelblue}

/* .navbar {
  background-color: white;
}

.foot{
  background-color: white;
} */

.App-link {
  color: #61dafb;
}

.links {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.henry {height: 180px; width: 180px;
  border-radius: 25px;
}